@font-face {
    font-family: Mayoritte;
    src: url(Mayoritte-qZVmd.ttf);
}

body {
    background-color: #A4C8B5;
}

#main-header {
    font-family: Mayoritte;
    letter-spacing: 10px;
    text-align: center;
    color: #D79B86;
    padding-top: 10px;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
    color: #757A77;
  }

h2 {
    font-family: "American Typewriter";
    letter-spacing: 3px;
    font-weight: lighter;
    text-align: center;
    color: antiquewhite;
}

#manifestation {
    text-align: center;
}

#paragraphs {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    color: #6C698B;
}

.mani-boxes  {
    width: 300px;
    margin: auto;
}

#photo-div {
    width: 450px;
    margin: auto;
    margin-top: 40px;
}

#main-photo {
    width: 450px;
    height: 150px;
}
fieldset {
    width: 800px;
    margin: auto;
    margin-top: 80px;
    ;
    border: #D79B86 solid 1px;
}

legend {
    border: 1px solid #D79B86;
    margin-left: 70px;
    padding: 8px 15px;
    text-align: left;
}

#form-container {
    text-align: center;
    color: #6C698B;
    margin-top: 22px;
}

.response-space {
    margin-top: 5px;
    margin-bottom: 10px;
}

#button {
    margin-top: 15px;
}

#resources {
    width: 500px;
    margin: auto;
    margin-top: 10px;
}

#resources ul {
    list-style-type: square;
}

#resources li {
    line-height: 30px;
}

#contain-affirm {
    display: grid;
    grid-template-rows: repeat(2, 396px);
    grid-template-columns: repeat(3, 373px);
    margin-left: 151px;
}

.photosize {
    width: 300px;
    height: 350px;
}
